.nav
{background:rgba(0,0,0,0.6);} 


.intro-message {
	text-align: center;
	padding-top: 10%;
	padding-bottom: 08%;
	color: #fff;
}
body{
    background: url(IMG_0634.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 12%;    
}
.signup-form {
	text-align: center;
	color: #fff;
}


.mc-field-group {color: #FFAE19;
}


.button {
	color:#333;
}

.list-group {
	text-align: center;
	padding-top: 05%;
	padding-bottom: 02%;
	color: #fff;
}

.closing {
	text-align: center;
	padding-top: 02%;
	padding-bottom: 05%;
	color: #fff;
}